.box-lookup {
	border-radius: 15px;
  line-height: 2em;
	margin-top: 9%;
	padding: 18%;
}

@media (prefers-color-scheme: dark) {
	.box-lookup {
		background: linear-gradient(47deg, rgb(32, 32, 32) 0%, rgb(25, 25, 25)100%);
	}
}

@media (prefers-color-scheme: light) {
  .box-lookup {
    background: linear-gradient(47deg, rgb(92, 92, 92) 0%, rgb(185, 185, 185)100%);
  }
}