@media (prefers-color-scheme: dark) {
	body {
		background: #161616;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #EBEBEB;
		color: white;
	}
}

.container {
	width: 85%;
	margin: auto;
}

h1 {
	font-weight: 700;
}

p1 {
	font-weight: 400;
}

