@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
	scroll-behavior: smooth;
}

body {
	margin: 0;
  -webkit-font-smoothing: antialiased;

	font: normal 16px;
	font-family: 'Inter', sans-serif;
	font-weight: 100;
	line-height: 1.8em;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #161616;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #EBEBEB;
		color: white;
	}
}

h1 {
	font-weight: 700;
}

p {
	font-weight: 400;
}

.container {
	width: 85%;
	margin: auto;
}